branchProtectionRules:
  - pattern: main
    requiresStatusChecks: true
    requiresStrictStatusChecks: true
    enforce_admins: true
    requiredStatusCheckContexts:
      - "CI / test"
      - "PRE-COMMIT / pre-commit"
      - "DEPTRY / deptry"
      - "MARIMO / test-notebooks"
  - pattern: master
    requiresStatusChecks: true
    requiresStrictStatusChecks: true
    enforce_admins: true
    requiredStatusCheckContexts:
      - "CI / test"
      - "PRE-COMMIT / pre-commit"
      - "DEPTRY / deptry"
      - "MARIMO / test-notebooks"
