name: DEVCONTAINER

# Building these containers is expensive initially, so only run on changes to devcontainer files
on:
  push:
    paths:
      - ".devcontainer/**"
  pull_request:
    branches: [ main, master ]  
    paths:
      - ".devcontainer/**"

jobs:
  devcontainer-build:
    name: Build Devcontainer Image
    uses: ./.github/workflows/_devcontainer.yml
    with:
      publish: false
      registry: ghcr.io
      image_name: devcontainer
      image_tags: ${{ github.head_ref || github.ref_name }}-${{ github.sha }}
    secrets: inherit
    permissions:
      contents: read
      packages: write